<!DOCTYPE html>
<head>
<% include header %>
</head>
<body id="home">
  
  <div class="ui inverted page grid masthead segment">
    <div class="column">
		<% include nav %>
		<img src="images/cat.png" class="ui medium image">
		<div class="ui form segment">
			<form action="" method="post" >
				<div class="field">
				<label>Title</label>
				<div class="ui left labeled icon input">
				  <input type="text" placeholder="title" name="title" >
				  <i class="user icon"></i>
				  <div class="ui corner label">
				    <i class="icon asterisk"></i>
				  </div>
				</div>
				</div>
				<div class="ui form">
				  <div class="field">
				    <label>User Text</label>
				    <textarea name="post"></textarea>
				  </div>
				</div>
				<div class="ui error message">
				<div class="header">We noticed some issues</div>
				</div>
				<input type="submit" class="ui blue submit button" value="Login" >
		 	</form>
		</div>
    </div>
  </div>
  
<% include footer %>
</body>
</html>











